.about {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

.about h2 {
  font-size: 36px;
  color: #3b82f6;
  margin-bottom: 24px;
}

.about p {
  color: #94a3b8;
  line-height: 1.9;
  font-size: 18px;

  width: 100%;
  text-align: justify;
}

/* TABLET */
@media (max-width: 992px) {
  .about {
    width: 90%;
  }

  .about h2 {
    font-size: 32px;
  }

  .about p {
    font-size: 17px;
    line-height: 1.8;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .about {
    width: 92%;
    padding: 40px 0;
  }

  .about h2 {
    font-size: 30px;
  }

  .about p {
    font-size: 15px;
    line-height: 1.8;

    text-align: left;
  }
}