.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0b1120;
  z-index: 9999;
}

/* THIS is the real layout */
.nav-inner {
  max-width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  color: white;
}

.logo span {
  color: #3b82f6;
}

.links a {
  margin-left: 25px;
  text-decoration: none;
  color: #94a3b8;
}

.links a:hover {
  color: #3b82f6;
}